# Generated output files
node_modules/
output/
exports/
releases/
build/
.svelte-kit/
package/
.env
.env.*
!.env.example
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# Incompatible lockfiles
package-lock.json

# Problematic MacOS files
*/.DS_Store
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db

# Old source files
.src_react/
.src_vanilla/