@keyframes shrink {
    0% {
        width: 1300px;
        height: 1300px;
    }
    50% {
        box-shadow: 4px -4px 10px #662cc3, inset -4px 4px 10px #662cc3;
    }
    100% {
        box-shadow: 0px 0px 4px #662cc3, inset 0px 0px 4px #662cc3;
        width: 0px;
        height: 0px;
    }
}

@keyframes burst {
    0% {
        width: 0px;
        height: 0px;
        border: 2px solid cyan;
    }
    100% {
        width: 1500px;
        height: 1500px;
        border: 15px solid cyan;
    }
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes fadeInBottom {
    0% {
        opacity: 0;
        transform: translateY(4px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes fadeOutBottom {
    0% {
        opacity: 1;
        transform: translateY(0px);
    }

    100% {
        opacity: 0;
        transform: translateY(4px);
    }
}

@keyframes fadeInTop {
    0% {
        opacity: 0;
        transform: translateY(-8px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes fadeOutTop {
    0% {
        opacity: 1;
        transform: translateY(0px);
    }

    100% {
        opacity: 0;
        transform: translateY(-8px);
    }
}