.boot {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    transition: .5s linear opacity;
    z-index: 5;
}

.power {
    transition: .5s linear opacity;
}

.power .power-button {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    border: 2px solid rgba(0, 255, 255);
    width: 35px;
    height: 35px;
    color: rgba(0, 255, 255);
    font-size: 29px;
    transition: opacity .3s;
    user-select: none;
    opacity: .3;
}

.power .power-button:hover {
    opacity: .6;
    box-shadow: 0 0 5px cyan;
}

.power .power-button:active {
    opacity: .8;
    box-shadow: 0 0 7px cyan;
}

.splash-screen {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    transition: .5s linear opacity;
}

.splash-screen .shrink {
    position: absolute;
    width: 150px;
    height: 150px;
    border-radius: 100%;
    box-shadow: 8px -8px 10px #662cc3, inset -8px 8px 10px #662cc3;
    animation: shrink 3s ease forwards, rotate 3s linear forwards;
}

.splash-screen .burst {
    position: absolute;
    width: 0;
    height: 0;
    border-radius: 100%;
    animation: burst .8s 3s ease forwards;
}

.splash-screen .buntini {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
}

.splash-screen .buntini .mask {
    mask-image: url('./assets/Buntini.png');
    background-image: linear-gradient(to bottom, rgba(65, 253, 250, .5), rgba(35, 119, 237, .3));
    width: 240px;
    height: 240px;
    position: absolute;
    opacity: 0;
    animation: fadeIn 1s 3.8s ease forwards;
}

.splash-screen .buntini .name {
    font-size: 26px;
    font-variant: small-caps;
    letter-spacing: 3px;
    position: absolute;
    transform: translate(-10px, 90px);
    opacity: 0;
    animation: fadeIn 1s 4.3s ease forwards;
}