.desktop:not(.option-icon):not(.settings-main) {
    display: flex;
    /* align-items: center;
    justify-content: center; */
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    z-index: 0; /* This is to solve the taskbar problem */
}

.desktop .windows {
    display: flex;
    width: 100%;
    transition: .3s opacity;
}