/* Buttons */
.button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: hsl(var(--color-hue, 180), var(--color-sat, 100%), var(--color-lig, 35%));
    height: 38px;
    width: fit-content;
    min-width: 92px;
    padding: 0 16px;
    transition: .3s background-color;
}

.button:hover {
    background-color: hsl(var(--color-hue, 180), var(--color-sat, 100%), calc(var(--color-lig, 35%) + 5%));
}

/* Checkbox */
.checkbox + .checkbox {
    margin-top: 14px;
}

.checkbox label {
    display: flex;
    align-items: center;
}

.checkbox span {
    line-height: 17px;
}

.checkbox label input[type="checkbox"] {
    width: 20px;
    height: 20px;
    margin-right: 8px;
    position: relative;
    -webkit-appearance: none;
}

.checkbox label input[type="checkbox"]::before {
    content: '';
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Material Icons';
    font-size: 18px;
    width: 20px;
    height: 20px;
    position: absolute;
    border: 2px solid hsl(var(--color-hue, 180), var(--color-sat, 100%), var(--color-lig, 35%));
    transition: .3s border-color;
}

.checkbox label input[type="checkbox"]:hover::before {
    border: 2px solid hsl(var(--color-hue, 180), var(--color-sat, 100%), calc(var(--color-lig, 35%) + 5%));
}

.checkbox label input[type="checkbox"]:checked::before {
    content: 'check';
}

/* Dropdown */
.dropdown {
    display: flex;
    flex-direction: column;
    width: 240px;
    position: relative;
}

.dropdown .dropdown-select {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 2px solid white;
    height: 40px;
    padding: 0 12px;
}

.dropdown .dropdown-select .dropdown-arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 15px;
    position: relative;
}

.dropdown .dropdown-select .dropdown-arrow::before,
.dropdown .dropdown-select .dropdown-arrow::after {
    content: "";
    background-color: #ffffff;
    position: absolute;
    width: 2px;
    height: 100%;
    transition: .3s transform;
}

.dropdown .dropdown-select .dropdown-arrow::before {
    left: 9px;
    transform: rotate(-45deg);
}

.dropdown .dropdown-select .dropdown-arrow::after {
    right: 9px;
    transform: rotate(45deg);
}

.dropdown.open .dropdown-select .dropdown-arrow::before {
    transform: rotate(45deg);
}

.dropdown.open .dropdown-select .dropdown-arrow::after {
    transform: rotate(-45deg);
}

.dropdown .dropdown-options {
    display: flex;
    flex-direction: column;
    background: white;
    max-height: 240px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    transform: translateY(30px);
    transition: .3s; /* Idfk what's breaking it */
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    z-index: 1;
    overflow-y: auto;
}

.dropdown.open .dropdown-options {
    margin-bottom: 40px;
    transform: translateY(40px);
    opacity: 1;
    visibility: visible;
    pointer-events: all;
}

.dropdown .dropdown-options .dropdown-option {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    height: 40px;
    padding: 0 12px;
    background-color: white;
    color: hsl(var(--color-hue, 180), var(--color-sat, 100%), calc(var(--color-lig, 35%) - 10%));
    transition: .3s background-color, .3s color;
}

.dropdown .dropdown-options .dropdown-option:hover {
    background-color: hsl(var(--color-hue, 180), var(--color-sat, 100%), calc(var(--color-lig, 35%) + 45%));
}

.dropdown .dropdown-options .dropdown-option.selected {
    background-color: hsl(var(--color-hue, 180), var(--color-sat, 100%), calc(var(--color-lig, 35%) - 10%));
    color: #ffffff;
}

.dropdown .dropdown-options::-webkit-scrollbar {
    width: 0px;
    transition: .3s width;
}

.dropdown .dropdown-options:hover::-webkit-scrollbar {
    width: 8px;
}

/* Grid */
.grid {
    display: grid;
    grid: auto / 40px 40px 40px 40px 40px 40px 40px 40px;
    grid-gap: 2px;
}

.grid .grid-item {
    border: 2px solid transparent;
    width: 40px;
    height: 40px;
    transition: .3s border-color;
    position: relative;
}

.grid .grid-item:hover {
    border-color: rgb(255, 255, 255, .5);
}

.grid .grid-item::before {
    content: '';
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    font-family: 'Material Icons';
    color: black;
    width: 18px;
    height: 18px;
    position: absolute;
    right: 0;
    top: 0;
    mix-blend-mode: screen;
    transition: .3s background-color;
}

.grid .grid-item.selected {
    border-color: white;
}

.grid .grid-item.selected::before {
    content: 'check';
    background-color: white;
}

/* Radio */
.radio {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 200px;
}

.radio label {
    display: flex;
    align-items: center;
    line-height: 16px;
}

.radio label input[type="radio"] {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid white;
    border-radius: 9px;
    width: 18px;
    height: 18px;
    margin: 0 4px 0 0;
    -webkit-appearance: none;
    transition: .3s border-color;
}

.radio label input[type="radio"]:checked {
    border-color: hsl(var(--color-hue, 180), var(--color-sat, 100%), var(--color-lig, 35%));
}

.radio label input[type="radio"]:checked:hover {
    border-color: hsl(var(--color-hue, 180), var(--color-sat, 100%), calc(var(--color-lig, 35%) + 5%));
}

.radio label input[type="radio"]:hover {
    border-color: hsl(var(--color-hue, 180), var(--color-sat, 100%), calc(var(--color-lig, 35%) + 25%));
}

.radio label input[type="radio"]::before {
    content: '';
    background-color: transparent;
    border-radius: 3px;
    width: 6px;
    height: 6px;
    transition: .3s background-color;
}

.radio label input[type="radio"]:checked::before {
    background-color: white;
}

/* Range */
.range {
    display: flex;
    align-items: center;
}

.range .icon {
    margin-right: 4px;
}

.range .input {
    background-image: linear-gradient(to right, hsl(var(--color-hue, 180), var(--color-sat, 100%), var(--color-lig, 35%)) 50%, #fff 50%);
    border-radius: 2px;
    width: 340px;
    height: 2px;
    outline: none;
    -webkit-appearance: none;
}

.range .input::-webkit-slider-thumb {
    background-color: hsl(var(--color-hue, 180), var(--color-sat, 100%), var(--color-lig, 35%));
    border-radius: 4px;
    width: 8px;
    height: 24px;
    -webkit-appearance: none;
    transition: .3s background-color;
}

.range .input::-webkit-slider-thumb:hover {
    background-color: hsl(var(--color-hue, 180), var(--color-sat, 100%), calc(var(--color-lig, 35%) + 5%));
}

.range .value {
    margin-left: 8px;
}

/* Toggle */
.toggle .toggle-label {
    display: flex;
    align-items: center;
}

.toggle .toggle-checkbox {
    display: flex;
    align-items: center;
    border: 2px solid white;
    border-radius: 16px;
    width: 52px;
    height: 28px;
    padding: 3px;
    transition: .3s background-color, .3s border-color;
    position: relative;
    cursor: pointer;
    -webkit-appearance: none;
}

.toggle .toggle-checkbox:checked {
    background-color: hsl(var(--color-hue, 180), var(--color-sat, 100%), var(--color-lig, 35%));
    border-color: hsl(var(--color-hue, 180), var(--color-sat, 100%), var(--color-lig, 35%));
}

.toggle .toggle-checkbox:checked:hover {
    background-color: hsl(var(--color-hue, 180), var(--color-sat, 100%), calc(var(--color-lig, 35%) + 5%));
    border-color: hsl(var(--color-hue, 180), var(--color-sat, 100%), calc(var(--color-lig, 35%) + 5%));
}

.toggle .toggle-checkbox::before {
    content: '';
    display: flex;
    width: 18px;
    height: 100%;
    border-radius: 10px;
    background: white;
    transition: .3s;
}

.toggle .toggle-checkbox:checked::before {
    transform: translateX(22px);
    width: 20px;
    height: 20px;
}

.toggle .toggle-switch {
    margin-left: 12px;
}