@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Material+Icons&family=Material+Icons+Outlined&family=Material+Icons+Round&family=Material+Icons+Sharp');

:root {
    --color-rgb: 0, 255, 255;
    --background-url: url('./assets/desktop-wallpapers/Opalset.png');
    --background-position-y: bottom;
    --background-position-x: right;
    --background-size: cover;
    --background-repeat: no-repeat;
    --background: var(--background-url) var(--background-position-x, center) var(--background-position-y, center) / var(--background-size, cover) var(--background-repeat) fixed;
    --start: hsla(0, 0%, 9%, var(--transparency-effects-start, 1));
    --start-sidebar: hsla(0, 0%, 13%, var(--transparency-effects-start-sidebar, 1));
    --start-context: hsla(0, 0%, 20%, var(--transparency-effects-start, 1));
    --taskbar: hsla(0, 0%, 6%, var(--transparency-effects-taskbar, 1));
    --previews: hsla(0, 0%, 16%, var(--transparency-effects-taskbar, 1));
    --previews-hover: hsla(0, 1%, 25%, var(--transparency-effects-taskbar, 1));
    --context-border: 69, 71, 74;
    --windows: hsl(var(--color-hue, 180), var(--color-sat, 100%), var(--color-lig, 25%), var(--color-accent-windows, 0));
    --blur: 5px;
}

#OS {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    background: var(--background);
    filter: brightness(var(--brightness, 1)) contrast(var(--contrast, 1)) saturate(var(--saturate, 100%));
}

.hidden {
    opacity: 0;
}

.buntini-icon {
    mask-image: url(./assets/Buntini.png);
    mask-repeat: no-repeat;
    mask-position: center;
    background-image: linear-gradient(to bottom, rgba(65, 253, 250), rgba(35, 119, 237, .8));
}

.material-icons {
    user-select: none;
}