.taskbar .start {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--taskbar);
    width: 58px;
    height: 44px;
}

.taskbar .start .start-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(5px);
    width: 58px;
    height: 44px;
    transition: .3s background-color;
}

.taskbar .start .start-icon:hover {
    background-color: hsla(var(--color-hue, 180), var(--color-sat, 100%), var(--color-lig, 50%), .1);
}

.taskbar .start .start-icon.active {
    background-color: var(--start);
}

.taskbar .start .start-icon:hover .buntini-icon {
    opacity: .9;
}

.taskbar .start .start-icon .buntini-icon {
    width: 32px;
    height: 32px;
    mask-size: 32px;
    opacity: .7;
    transition: .3s opacity;
}

.taskbar .start .start-content {
    display: flex;
    background-color: var(--start);
    font-size: 16px;
    width: 300px;
    height: 600px;
    position: absolute;
    bottom: 44px;
    left: 0;
    backdrop-filter: blur(5px);
}

.taskbar .start .start-content.hidden {
    display: none;
}

/* Context Menu */
.taskbar .start .context {
    display: none;
    flex-direction: column;
    background-color: hsla(var(--color-hue, 180), var(--color-sat, 50%), var(--color-lig, 25%), 0.9);
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
    width: 210px;
    height: fit-content;
    padding: 2px 4px;
    position: fixed;
    z-index: 2;
}

.taskbar .start .context .context-group {
    display: flex;
    flex-direction: column;
}

.taskbar .start .context .context-group:not(:last-of-type)::after {
    content: '';
    background-color: rgb(255, 255, 255, .1);
    width: 96%;
    height: 1px;
    margin: 2px auto;
}

.taskbar .start .context .context-group .context-item {
    display: flex;
    align-items: center;
    height: 28px;
    padding: 0px 8px;
    margin: 2px 0;
    transition: 0.3s background-color;
}

.taskbar .start .context .context-group .context-item:hover {
    background-color: rgba(255, 255, 255, .1);
}

/* Sidebar */
.taskbar .start .start-content .sidebar {
    display: flex;
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
}

.taskbar .start .start-content .sidebar .sidebar-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 58px;
    position: relative;
    overflow: hidden;
    transition: .3s .3s;
}

.taskbar .start .start-content .sidebar .sidebar-content.active {
    background-color: var(--start-sidebar);
    width: 200px;
    backdrop-filter: blur(5px);
}

.taskbar .start .start-content .sidebar .sidebar-content .sidebar-item {
    display: flex;
    align-items: center;
    width: 200px;
    font-size: 16px;
    transition: .3s;
}

.taskbar .start .start-content .sidebar .sidebar-content .sidebar-item:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.taskbar .start .start-content .sidebar .sidebar-content .sidebar-item:first-of-type {
    position: absolute;
    top: 0;
}

.taskbar .start .start-content .sidebar .sidebar-content .sidebar-item .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 58px;
    height: 44px;
}

.taskbar .start .start-content .sidebar .sidebar-content .sidebar-item:not(:first-of-type) .name {
    margin-left: 1px;
}

/** Sidebar items **/
.taskbar .start .start-content .sidebar .sidebar-content .sidebar-item .power-options {
    display: none;
    flex-direction: column;
    background-color: var(--start-context);
    border: 1px solid var(--taskbar-container);
    width: 100%;
    padding: 8px 2px;
    position: absolute;
    bottom: 44px;
    /* opacity: 0; */
    backdrop-filter: blur(5px);
}

.taskbar .start .start-content .sidebar .sidebar-content .sidebar-item .power-options .power-option {
    display: flex;
    align-items: center;
    padding: 1px 8px;
    margin: 1px 0;
    font-size: 12px;
    transition: 0.3s background-color;
}

.taskbar .start .start-content .sidebar .sidebar-content .sidebar-item .power-options .power-option:hover {
    background: rgb(255, 255, 255, .1);
}

.taskbar .start .start-content .sidebar .sidebar-content .sidebar-item .power-options .power-option .mi {
    margin-right: 8px;
}

/* Main */
.taskbar .start .start-content .main {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: absolute;
    top: 0;
    left: 58px;
    bottom: 0;
    right: 0px;
}

/** Dividers **/
.taskbar .start .start-content .main .divider {
    background: rgba(255, 255, 255, .1);
    height: 1px;
    width: 90%;
    margin: 2px auto;
}

.taskbar .start .start-content .main > .divider {
    width: 96%;
}

/** Search **/
.taskbar .start .start-content .main .start-search {
    display: flex;
    align-items: center;
    background-color: hsl(var(--color-accent-hue, 0), var(--color-accent-sat, 0%), 50%, .05);
    height: 32px;
    margin: 8px;
    transition: 0.3s background-color;
}

.taskbar .start .start-content .main .start-search:hover,
.taskbar .start .start-content .main .start-search:focus {
    background-color: hsl(var(--color-accent-hue, 0), var(--color-accent-sat, 0%), 50%, .2);
}

.taskbar .start .start-content .main .start-search .search-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 32px;
    height: 32px;
    margin-right: 4px;
    transform: scaleX(-1) translateY(1px);
}

.taskbar .start .start-content .main .start-search .search-input {
    display: flex;
    height: 32px;
    width: 100%;
    font-size: 18px;
    line-height: 24px;
    padding-right: 6px;
}

.taskbar .start .start-content .main .main-content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow: hidden;
}

/* Menu */
.taskbar .start .start-content .main .main-content .menu,
.taskbar .start .start-content .main .main-content .all-programs {
    flex-grow: 1;
    overflow-x: auto;
}

.taskbar .start .start-content .main .main-content .all-programs,
.taskbar .start .start-content .main .main-content .all-programs + .divider {
    display: var(--start-all-programs);
}

.taskbar .start .start-content .main .main-content .menu .main-pinned:empty + .divider {
    display: none;
}

.taskbar .start .start-content .main .main-content .menu .main-recent {
    display: var(--start-recently-used);
}

/* Start items */
.taskbar .start .start-content .main .main-content .start-item {
    display: flex;
    align-items: center;
    height: 44px;
    margin: 2px 4px;
    transition: .3s background-color;
}

.taskbar .start .start-content .main .main-content .start-item:hover {
    background-color: rgba(255, 255, 255, .1);
}

.taskbar .start .start-content .main .main-content .start-item .app-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: hsl(var(--color-hue, 180), var(--color-sat, 50%), var(--color-lig, 25%));
    width: 40px;
    height: 40px;
    margin: 0px 8px 0 4px;
}

/** All Programs/Back **/
.taskbar .start .start-content .main .main-content .all-programs-button {
    display: var(--start-all-programs, flex);
    flex-shrink: 0;
}

.taskbar .start .start-content .main .main-content .all-programs-button:hover:not(.back) .app-icon {
    transform: translateX(4px);
}

.taskbar .start .start-content .main .main-content .all-programs-button.back:hover .app-icon {
    transform: scaleX(-1) translateX(4px);
}

.taskbar .start .start-content .main .main-content .all-programs-button .app-icon {
    background-color: transparent;
    margin-right: 4px;
    transition: .3s transform;
}

.taskbar .start .start-content .main .main-content .all-programs-button.back .app-icon {
    transform: scaleX(-1);
}